In [18]:
import numpy as np
import pandas as pd

### Create a list/array/dictionary ==> pandas series

In [25]:
### create a list
list_1 = ['a', 'b', 'c', 'd' ]
list_1
### create a series
labels = [1,2 ,3, 4 ]
ser_1 = pd.Series(data = list_1, index = labels)
ser_1

1    a
2    b
3    c
4    d
dtype: object

In [28]:
### create an array ==> series
arr_1 = np.array([1, 2, 3, 4])
ser_2 = pd.Series(arr_1)
ser_2

0    1
1    2
2    3
3    4
dtype: int64

In [46]:
### create a dictionary ==> series
dict_1 = {'f_name' : "TY", 'l_name' : "Chen", 'age' : 35}
dict_1
ser_3 = pd.Series(dict_1)
ser_3

f_name      TY
l_name    Chen
age         35
dtype: object

### Pandas series math operations

In [53]:
multiplication = ser_2 * ser_2
addition = ser_1 + ser_1 
exponential = np.exp(ser_2)

In [66]:
print(multiplication,'\n', addition, '\n', exponential)

0     1
1     4
2     9
3    16
dtype: int64
 1    aa
2    bb
3    cc
4    dd
dtype: object
 0     2.718282
1     7.389056
2    20.085537
3    54.598150
dtype: float64