In [67]:
import pandas as pd
import numpy as np

##### iterating through series and dataframes

In [84]:
### let's create a series
ser = pd.Series(range(5), index=['a','b','c','d','e'])
print('This is a series')
print(ser)

### now let's create a numpy array with random.randint
arr = np.random.randint(10, 50, size=(2,3))
print('\nThis is a numpy array\n',arr)

### how about about a dataframe? ##### note that a df is 2-dimensional
df = pd.DataFrame(arr, ['A','B' ], ['C', 'D', 'E'] )
print('\nThis is a dataframe',)
print(df)

This is a series
a    0
b    1
c    2
d    3
e    4
dtype: int64

This is a numpy array
 [[49 24 47]
 [39 11 23]]

This is a dataframe
    C   D   E
A  49  24  47
B  39  11  23

In [82]:
### iteration through series
for col in ser:
    print(col)

0
1
2
3
4

In [71]:
### iterate over datafraem
for label, ser in df.items():
    print(f"\nlabel")
    print(ser)

label
A    34
B    48
Name: C, dtype: int64

label
A    16
B    16
Name: D, dtype: int64

label
A    14
B    35
Name: E, dtype: int64

In [68]:
for index, row in df.iterrows():
    print(f"{index}\n{row}\n")

A
C    34
D    16
E    14
Name: A, dtype: int64

B
C    48
D    16
E    35
Name: B, dtype: int64

In [66]:
### tuple
for row in df.itertuples():
    print(row)

Pandas(Index='A', C=34, D=16, E=14)
Pandas(Index='B', C=48, D=16, E=35)