## Sorting

In [1]:
import pandas as pd
import numpy as np

In [3]:
### now let's create a numpy array with random.randint
arr = np.random.randint(10, 50, size=(2,3))
print('\nThis is a numpy array\n',arr)

### how about about a dataframe? ##### note that a df is 2-dimensional
df = pd.DataFrame(arr, ['A','B' ], ['C', 'D', 'E'] )
print('\nThis is a dataframe',)
print(df)

This is a numpy array
 [[14 31 12]
 [48 44 43]]

This is a dataframe
    C   D   E
A  14  31  12
B  48  44  43

In [4]:
df.sort_index()

    C   D   E
A  14  31  12
B  48  44  43

In [5]:
df.sort_index(ascending=False)

    C   D   E
B  48  44  43
A  14  31  12

In [6]:
df.sort_values(by='D')

    C   D   E
A  14  31  12
B  48  44  43