## Missing Data

In [2]:
import pandas as pd
import numpy as np

In [5]:
dict_miss = {
    'A': [1, 2, np.nan],
    'B': [4, np.nan, np.nan],
    'C': [7, 8., 9.]    
}

df_miss = pd.DataFrame(dict_miss)
df_miss

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0
2  NaN  NaN  9.0

In [6]:
### drop missing data
df_miss.dropna()

     A    B    C
0  1.0  4.0  7.0

In [7]:
df_miss.dropna(axis=1)

     C
0  7.0
1  8.0
2  9.0

In [8]:
### drop a row unless it has at least 2 non-missing data
df_miss.dropna(thresh=2)

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0

In [9]:
### fillna
df_miss.fillna(value=0)

     A    B    C
0  1.0  4.0  7.0
1  2.0  0.0  8.0
2  0.0  0.0  9.0

In [11]:
### fill with mean
df_miss.fillna(value=df_miss['A'].mean())

     A    B    C
0  1.0  4.0  7.0
1  2.0  1.5  8.0
2  1.5  1.5  9.0

In [12]:
### foward fill
df_miss.fillna(method='ffill')

/var/folders/6t/bfp06fh96wn60n_mjtxmbhfm0000gn/T/ipykernel_27089/3057865557.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_miss.fillna(method='ffill')

     A    B    C
0  1.0  4.0  7.0
1  2.0  4.0  8.0
2  2.0  4.0  9.0

In [13]:
df_miss.ffill()

     A    B    C
0  1.0  4.0  7.0
1  2.0  4.0  8.0
2  2.0  4.0  9.0

In [14]:
df_miss.bfill()

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0
2  NaN  NaN  9.0