In [16]:
import numpy as np
import pandas as pd

#### Create a list/array/dictionary ==> pandas series

In [17]:
### create a list
list_1 = ['a', 'b', 'c', 'd' ]
list_1
### create a series
labels = [1,2 ,3, 4 ]
ser_1 = pd.Series(data = list_1, index = labels)
ser_1

1    a
2    b
3    c
4    d
dtype: object

In [18]:
### create a numpy array ==> series
arr_1 = np.array([1, 2, 3, 4])
ser_2 = pd.Series(arr_1)
ser_2

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
### create a dictionary ==> series
dict_1 = {'f_name' : "TY", 'l_name' : "Chen", 'age' : 35}
dict_1
ser_3 = pd.Series(dict_1)
ser_3

f_name      TY
l_name    Chen
age         35
dtype: object

### Pandas series math operations

In [24]:
### math ops
add = ser_2 + ser_2
subtract = ser_2 - ser_2
multiply = ser_2 * ser_2
divide = ser_2 / ser_2

In [65]:
print("add:\n", add, "\n\nsubtract:\n", subtract, "\n\nmultiply:\n", multiply, "\n\ndivide\n", divide, sep='')

add:
0    2
1    4
2    6
3    8
dtype: int64

subtract:
0    0
1    0
2    0
3    0
dtype: int64

multiply:
0     1
1     4
2     9
3    16
dtype: int64

divide
0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

In [78]:
multiplication = ser_1 * 5
addition = ser_1 + ser_1 
exponential = np.exp(ser_2)

In [79]:
print(multiplication,'\n\n', addition, '\n\n', exponential, sep='')

1    aaaaa
2    bbbbb
3    ccccc
4    ddddd
dtype: object

1    aa
2    bb
3    cc
4    dd
dtype: object

0     2.718282
1     7.389056
2    20.085537
3    54.598150
dtype: float64

In [80]:
# del multiplication

In [81]:
### pass to numpy methods
np.exp(ser_2)

0     2.718282
1     7.389056
2    20.085537
3    54.598150
dtype: float64