In [1]:
import pandas as pd

In [16]:
### sales data of an ice cream chain
dict = {
    'Store': [1,2,1,2],
    'Flavor': ['Choc', 'Van', 'Straw', 'Choc'],
    'Sale': [26, 12, 18, 22]    
}

### make the dict a df
pd.DataFrame(dict)

   Store Flavor  Sale
0      1   Choc    26
1      2    Van    12
2      1  Straw    18
3      2   Choc    22

In [22]:
### aggregate function
by_store = df.groupby('Store')
print(by_store)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11a0aae70>

In [23]:
### This does not work
# by_store.mean()
### this works
by_store.mean('Score')

       Sale
Store
1      22.0
2      17.0

In [24]:
by_store.sum().loc[1]

Flavor    ChocStraw
Sale             44
Name: 1, dtype: object

In [25]:
by_store.describe()

       Sale
      count  mean       std   min   25%   50%   75%   max
Store
1       2.0  22.0  5.656854  18.0  20.0  22.0  24.0  26.0
2       2.0  17.0  7.071068  12.0  14.5  17.0  19.5  22.0